.Button{
    height: 80px;
    padding: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #fd7e14;
    color: white;
    cursor: pointer;
    font-size: large;
}

.Button:hover{
    background-color: white;
    transition: 0.8s;
    color: #fd7e14;
    border: solid 1.3px #fd7e14;
}