.Button{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 15px;
    background-color: #fd7e14;
    color: white;
    cursor: pointer;
    font-size: large;
}

.Button:hover{
    background-color: white;
    transition: 0.8s;
    color: #fd7e14;
}