.Cards{
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(216, 215, 215);
    margin: 1rem;
    border-radius: 1.2rem;
    justify-content: space-around;
    box-shadow: 3px 3px 5px black;
    align-items: center;
}

.log{
    text-align: center;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btnVerMais{
    height: 80px;
    padding: 1.5rem;
    width: 150px;
    border: none;
    border-radius: 15px;
    background-color: #fd7e14;
    color: white;
    cursor: pointer;
    font-size: large;
}

.btnVerMais:hover{
    background-color: white;
    transition: 0.8s;
    color: #fd7e14;
}