*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.loginPage{
    display: flex;
    flex-direction: row;
    
}

.form{
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img{
    width: 60%;
    height: 100vh;
    background-color: red;
    text-align: center;
    background-color: #fd7e14;

}

.input{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 0;
    height: 60px;
    font-size: xx-large;
    padding: 15px;
    border: 2px solid black
}

.title{
    text-align: center;
    font-size: x-large;
}

.banner{
    width: 650px;
    margin-top: 25%;
}